<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title id="page-title">Rest & HDFS Server Connect</title>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/extjs-4.1.0/resources/css/ext-all.css")">



    <script type="text/javascript" src="@routes.Assets.at("/extjs-4.1.0/ext-all.js")"></script>
	
 	<script type="text/javascript" src="@routes.Assets.at("/app/controller/connect/connect.js")"></script>  
</head>
<body bgcolor="#fffafa">
</body>
</html>
